.button {
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms;
    font-weight: 500;
}

.contained {
    background-color: #673ab7;
    color: white;
}

.contained:hover {
    background-color: #482880;
}

.outlined {
    background-color: white;
    color: #673ab7;
    border: 1px solid #673ab7;
}

.outlined:hover,
.text:hover {
    background-color: #ede7f6;
}

.text {
    color: #673ab7;
    background-color: transparent;
}